p{
    color: black;
}
.conan{
    background-color: blueviolet;
}
a.jimlink{
    padding: 0px 30px;
    margin: 0px 0px 0px 10px;
    border-radius: 50px;
    color: brown;
}
a.jimlink:hover{
    background-color: brown;
    color: white;
}
div.jimdivgrey{
    background-color: rgb(235, 207, 207);
    padding:20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    margin: 10px auto;
    overflow: auto;
}
section#about.resume-section{
    background-color: rgb(233, 214, 214);
}
.jimcallme{
    background-image: url("./assets/img/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgb(233, 214, 214);
}
.jimserif{
    font-family: "Noto Serif TC", serif;
}
.jimcallmebg{
    background-image: url("../assets/img/07.JPG");
    background-size:cover ;
    background-repeat:no-repeat ;
    opacity:0.6;
    filter:alpha(opacity=60);
}
.red{
    color: rgb(255, 0, 0);
}


